.skills{
    width: 80%;
    height: 500px;
    border-radius: 5px;
    box-shadow:2px 2px 2px grey;
}

li {
    font-size: 50px;
    list-style: none;
    color: #73C1C6;
    text-transform: uppercase;
    text-align: center;
}