.home{

    h1{
        font-family: Lobster, sans-serif;
        font-size: 70px;
        text-align: center;
        color: #73C1C6;
        padding: 150px 0 40px 0;
    }

    h2 {
        text-align: center;
        font-size: 40px;
        margin: 0;
        padding: 0;
    
    }
    
}

.stack {
    background-color: #73C1C6;
    padding: 0 15px 80px 15px;
    
    width: 30em;
    border-radius: 8px;
    margin: 0 auto;
}

.skillset {
    display: flex;
    justify-content: space-evenly;
}
.skill {
    border-right: 3px solid rgb(31, 77, 80);
}
