.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #73C1C6;
    height: 50px;

    a {
        text-decoration: none;
        margin: 20px;
        color:white;   
    }
}
.logo {
    font-family: Lobster;
}